:root {
  // ----- Color tokens -----
  --ms-color-border-primary: rgba(144, 19, 254, 100%);
  --ms-color-border-secondary: rgba(92, 11, 186, 100%);
  --ms-color-border-tertiary: rgba(181, 89, 255, 100%);
  --ms-color-border-error: rgba(215, 34, 38, 100%);
  --ms-color-border-info: rgba(37, 99, 235, 100%);
  --ms-color-border-success: rgba(22, 163, 74, 100%);
  --ms-color-border-warning: rgba(234, 179, 8, 100%);
  --ms-color-border-base: rgba(31, 41, 55, 100%);
  --ms-color-border-muted: rgba(75, 85, 99, 100%);
  --ms-color-border-disabled: rgba(156, 163, 175, 100%);
  --ms-color-border-inverse: rgba(249, 250, 251, 100%);
}
