@use 'sass:map';
@use '../../styles/variables' as msVariable;

:root {
  // ----- Color tokens -----
  --ms-color-border-primary: #{map.get(msVariable.$color-map, primary)};
  --ms-color-border-secondary: #{map.get(msVariable.$color-map, secondary)};
  --ms-color-border-tertiary: #{map.get(msVariable.$color-map, tertiary)};
  --ms-color-border-error: #{map.get(msVariable.$color-map, error)};
  --ms-color-border-info: #{map.get(msVariable.$color-map, info)};
  --ms-color-border-success: #{map.get(msVariable.$color-map, success)};
  --ms-color-border-warning: #{map.get(msVariable.$color-map, warning)};
  --ms-color-border-base: #{map.get(msVariable.$color-map, base)};
  --ms-color-border-muted: #{map.get(msVariable.$color-map, muted)};
  --ms-color-border-disabled: #{map.get(msVariable.$color-map, disabled)};
  --ms-color-border-inverse: #{map.get(msVariable.$color-map, inverse)};
}
