@import './variables/layout.scss';

$screen-size--mobile: 'only screen and (max-width: #{map-get($layout-breakpoints, sm)})';
$screen-size--tablet: 'only screen and (min-width: #{map-get($layout-breakpoints, md)})';
$screen-size--laptop: 'only screen and (min-width: #{map-get($layout-breakpoints, lg)})';
$screen-size--desktop: 'only screen and (min-width: #{map-get($layout-breakpoints, xl)})';
