# general
LICENSE
.gitignore
.keep

# configuration files
.dockerignore
Dockerfile

# package manager
pnpm-lock.yaml
.npmrc.example

# packages
.prettierignore
.husky

# files
*.sh
*.toml
*.env*

# images
*.ico
*.svg
