// Component
.ms-list {
  display: flex;
  margin: 0;
  padding: 0;

  // Modifiers
  &--direction {
    @each $modifier, $value in (horizontal: row, vertical: column) {
      &-#{$modifier} {
        flex-direction: $value
      }
    }
  }

  &--type {
    @each $modifier, $value in (unstyled: none, ordered: decimal) {
      &-#{$modifier} {
        list-style: $value
      }
    }

    // &-unordered {
    //   list-style: none;
    // }
  }

  &--justify {
    @each $modifier, $value in (center: center, end: flex-end) {
      &-#{$modifier} {
        justify-content: $value
      }
    }
  }

  // Elements
  &__spacer {
    margin-bottom: auto;
    margin-left: auto;
  }
}
