@use 'sass:map';
@use '../../styles/mixins' as msMixin;
@use './text-base.variables' as textBaseVars;

@mixin build-text-base($config, $selector: textBaseVars.$class-selector) {
  #{$selector} {
    &--color {
      $config-color: map.get($config, 'color');

      @each $modifier, $value in $config-color {
        &-#{$modifier} {
          color: $value;
        }
      }
    }

    &--family {
      $config-family: map.get($config, 'family');

      @each $modifier, $value in $config-family {
        &-#{$modifier} {
          font-family: $value;
        }
      }
    }

    &--size {
      $config-size: map.get($config, 'size');

      @each $modifier, $value in $config-size {
        &-#{$modifier} {
          @include msMixin.map-to-style($value);
        }
      }
    }
  }
}
