.ms-popover__container {
  position: relative;

  &--visible-on-hover {
    &:hover,
    &:focus-within { // NOTE: does not supported by old browsers
      .ms-popover__placeholder {
        // opacity: 1; // NOTE: to have opportunity for navigation with a tab
        visibility: visible;
      }
    }
  }
}

.ms-popover__placeholder {
  // opacity: 0;
  visibility: hidden;
  z-index: 1;

  &--horizontally {
    &-left {
      left: 0;
    }

    &-center {
      right: 50%;
    }

    &-right {
      right: 0;
    }
  }

  &--vertically {
    &-top {
      top: 0;
    }

    &-middle {
      top: 50%;
    }

    &-bottom {
      top: 100%;
    }
  }

  &--visible {
    visibility: visible;
  }

  &--position {
    @each $modifier, $value in (absolute: absolute, static: static) {
      &-#{$modifier} {
        position: $value
      }
    }
  }

  &--width-inherit {
    width: 100%;
  }
}
