$class-selector: '.ms-surface';
$color-map: (
  primary: var(--ms-color-bg-primary),
  secondary: var(--ms-color-bg-secondary),
  tertiary: var(--ms-color-bg-tertiary),
  error: var(--ms-color-bg-error),
  info: var(--ms-color-bg-info),
  success: var(--ms-color-bg-success),
  warning: var(--ms-color-bg-warning),
  base: var(--ms-color-bg-base),
  muted: var(--ms-color-bg-muted),
  inverse: var(--ms-color-bg-inverse),
  transparent: transparent,
);
$radius-map: (
  pill: var(--ms-border-radius-pill),
  circle: var(--ms-border-radius-circle),
  xxs: var(--ms-border-radius-xxs),
  xs: var(--ms-border-radius-xs),
  sm: var(--ms-border-radius-sm),
  md: var(--ms-border-radius-md),
  lg: var(--ms-border-radius-lg),
  xl: var(--ms-border-radius-xl),
  xxl: var(--ms-border-radius-xxl),
  xxxl: var(--ms-border-radius-xxxl),
);
