@use 'sass:map';
@use '../../styles/variables' as msVariable;

:root {
  // ----- Color tokens -----
  --ms-color-bg-primary: #{map.get(msVariable.$color-map, primary)};
  --ms-color-bg-secondary: #{map.get(msVariable.$color-map, secondary)};
  --ms-color-bg-tertiary: #{map.get(msVariable.$color-map, tertiary)};
  --ms-color-bg-error: #{map.get(msVariable.$color-map, error)};
  --ms-color-bg-info: #{map.get(msVariable.$color-map, info)};
  --ms-color-bg-success: #{map.get(msVariable.$color-map, success)};
  --ms-color-bg-warning: #{map.get(msVariable.$color-map, warning)};
  --ms-color-bg-base: #{map.get(msVariable.$color-map, base)};
  --ms-color-bg-muted: #{map.get(msVariable.$color-map, muted)};
  --ms-color-bg-disabled: #{map.get(msVariable.$color-map, disabled)};
  --ms-color-bg-inverse: #{map.get(msVariable.$color-map, inverse)};

  // ----- Border radius tokens -----
  --ms-border-radius-pill: #{map.get(msVariable.$border-radius-map, pill)};
  --ms-border-radius-circle: #{map.get(msVariable.$border-radius-map, circle)};
  --ms-border-radius-xxs: #{map.get(msVariable.$border-radius-map, xxs)};
  --ms-border-radius-xs: #{map.get(msVariable.$border-radius-map, xs)};
  --ms-border-radius-sm: #{map.get(msVariable.$border-radius-map, sm)};
  --ms-border-radius-md: #{map.get(msVariable.$border-radius-map, md)};
  --ms-border-radius-lg: #{map.get(msVariable.$border-radius-map, lg)};
  --ms-border-radius-xl: #{map.get(msVariable.$border-radius-map, xl)};
  --ms-border-radius-xxl: #{map.get(msVariable.$border-radius-map, xxl)};
  --ms-border-radius-xxxl: #{map.get(msVariable.$border-radius-map, xxxl)};
}
