$class-selector: '.ms-spacing';
$step-map: (
  element: 0.125rem,
  // 2px
  component: 0.25rem,
  // 4px
  block: 0.375rem,
  // 6px
  section: 0.625rem, // 10px
);
$scale-size-map: (
  element: (
    xs: var(--ms-spacing-scale-element-xs),
    sm: var(--ms-spacing-scale-element-sm),
    base: var(--ms-spacing-scale-element-base),
    lg: var(--ms-spacing-scale-element-lg),
    xl: var(--ms-spacing-scale-element-xl),
  ),
  component: (
    xs: var(--ms-spacing-scale-component-xs),
    sm: var(--ms-spacing-scale-component-sm),
    base: var(--ms-spacing-scale-component-base),
    lg: var(--ms-spacing-scale-component-lg),
    xl: var(--ms-spacing-scale-component-xl),
  ),
  block: (
    xs: var(--ms-spacing-scale-block-xs),
    sm: var(--ms-spacing-scale-block-sm),
    base: var(--ms-spacing-scale-block-base),
    lg: var(--ms-spacing-scale-block-lg),
    xl: var(--ms-spacing-scale-block-xl),
  ),
  section: (
    xs: var(--ms-spacing-scale-section-xs),
    sm: var(--ms-spacing-scale-section-sm),
    base: var(--ms-spacing-scale-section-base),
    lg: var(--ms-spacing-scale-section-lg),
    xl: var(--ms-spacing-scale-section-xl),
  ),
);
