$class-selector: '.ms-flex';
$container-prop-map: (
  display: (
    flex,
    inline-flex,
  ),
  flex-direction: (
    row-reverse,
    column,
    column-reverse,
  ),
  // horizontal alignment
  justify-content: (
      space-between,
      center,
      flex-end,
    ),
  // vertical alignment
  align-items: (
      center,
      flex-end,
    ),
);
