$class-selector: '.ms-flex';
$container-prop-map: (
  display: (
    flex,
    inline-flex,
  ),
  flex-direction: (
    row-reverse,
    column,
    column-reverse,
  ),
);
$item-prop-map: (
  flex-grow: (
    initial,
    1,
  ),
);
