@import '../../styles/_mixins.scss';

@mixin build-typography($config, $selector: '.ms-typography') {
  #{$selector} {
    &--color {
      $configColor: map-get($config, 'color');
      @each $modifier, $value in $configColor {
        &-#{$modifier} {
          color: $value;
        }
      }
    }

    &--family {
      $configFamily: map-get($config, 'family');
      @each $modifier, $value in $configFamily {
        &-#{$modifier} {
          font-family: $value;
        }
      }
    }

    &--size {
      @each $size in ('xx-small', 'x-small', 'smaller', 'sm', 'md', 'lg', 'larger', 'x-large', 'xx-large') {
        $configSize: map-get($config, 'size');
        @if $configSize != null and map-has-key($configSize, $size) {
          &-#{$size} {
            @include map-to-style(map-get($configSize, $size));
          }
        }
      }
    }
  }
}
