.ms-typography {
  line-height: 1;
  margin: 0;

  &.ms-typography {
    &--align {
      @each $value in (center, justify, right) {
        &-#{$value} {
          text-align: $value
        }
      }
    }

    &--transform {
      @each $value in (capitalize, uppercase) {
        &-#{$value} {
          text-transform: $value
        }
      }
    }

    &--weight {
      @each $modifier, $value in (lightest: 100, lighter: lighter, normal: normal, bold: bold, bolder: bolder, boldest: 900) {
        &-#{$modifier} {
          font-weight: $value
        }
      }
    }
  }

  &--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
