// Color variables
$color-map: (
  primary: rgba(144, 19, 254, 100%),
  secondary: rgba(92, 11, 186, 100%),
  tertiary: rgba(181, 89, 255, 100%),
  error: rgba(215, 34, 38, 100%),
  info: rgba(37, 99, 235, 100%),
  success: rgba(22, 163, 74, 100%),
  warning: rgba(234, 179, 8, 100%),
  base: rgba(31, 41, 55, 100%),
  muted: rgba(75, 85, 99, 100%),
  disabled: rgba(156, 163, 175, 100%),
  inverse: rgba(249, 250, 251, 100%),
);

// Border radius variables
$border-radius-map: (
  // 9999px (Capsule shaped buttons, badges)
  pill: 624.9375rem,
  // 50% (Perfect circles for avatars)
  circle: 50%,
  // 2px (Subtle rounding for small elements)
  xxs: 0.125rem,
  // 4px (Slightly more pronounced rounding)
  xs: 0.25rem,
  // 8px (Moderate rounding for small elements)
  sm: 0.5rem,
  // 12px (Standard rounding for medium elements)
  md: 0.75rem,
  // 16px (Larger rounding for large elements)
  lg: 1rem,
  // 20px (Extra large rounding for extra large elements)
  xl: 1.25rem,
  // 24px (Even larger rounding for prominent elements)
  xxl: 1.5rem,
  // 32px (Maximum rounding for very large elements or cards)
  xxxl: 2rem
);

// grid
$grid-number-of-columns: 12;
$grid-breakpoint-map: (
  xs: 0rem,
  // 0px
  sm: 36rem,
  // 576px
  md: 48rem,
  // 768px
  lg: 62rem,
  // 992px
  xl: 75rem, // 1200px
);
