@use 'sass:map';
@use '../styles/mixins' as msMixin;
@use './surface.variables' as surfaceVars;

@mixin build-surface($config, $selector: surfaceVars.$class-selector) {
  #{$selector} {
    &--bg-color {
      $config-color: map.get($config, 'color');

      @each $modifier, $value in $config-color {
        &-#{$modifier} {
          background-color: $value;
        }
      }
    }

    &--radius {
      $config-radius: map.get($config, 'radius');

      @each $modifier, $value in $config-radius {
        &-#{$modifier} {
          border-radius: $value;
        }
      }
    }
  }
}
